.about {
    user-select: none;
    display: flex;
    flex-direction: row;
    margin-bottom: 2.5rem;
    min-height: 100%;
    &_text {
      font-size: 1.15rem;
      line-height: 1.5rem;
      font-weight: 100;
      color: #F5F5F5;
      
      b {
        font-size: 1.25rem;
      }
      br {
        display: block;
        content: "";
        margin-top: 1em;
      }
    }
    @media (max-width: 1000px) {
        flex-direction: column;
    }
}
  