.formationSection {
    display: flex;
    min-height: 100%;
    &_content {
        width: calc(100% - 8.5rem);
    }
    
    @media (max-width: 1000px) {
        flex-direction: column;
        min-height: max-content;
        margin-bottom: 15vh;
        &_content {
            width: 100%;
        }
    }
    &_card {
        background-color: #33334a;
        padding: 0.5rem;
        margin-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        border-radius: 0.2rem;
        h3 {
            margin-bottom: 0.2rem;
            max-width: 100%;
        }
        span {
            white-space: nowrap;
        }
    }
}
