.menu {
    display: flex;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 2.1rem;

        li {
            display: inline-block;

            div {
                position: relative;
                width: fit-content;

                a {
                    position: relative;
                    text-decoration: none;
                    font-size: $font-size-current;
                    font-family: $font-family-secondary;
                    color: $clickable-color;
                    background-color: $background-dark;
                    padding: 0.35rem 0.35rem;
                    border: solid 2px $clickable-color;
                    border-radius: 0.2rem;
                    transition: background-color 0.3s, color 0.3s;
                    will-change: background-color, color;
                }
            }

            &:hover a {
                color: $background-dark;
                background-color: $clickable-color;
            }
        }

        .menu_selected {
            a {
                color: $background-dark;
                background-color: $clickable-color;
            }
        }
    }

    @media (max-width: 1000px) {
        margin-top: 3vh;
        margin-bottom: 10rem;
    }
}
