// _variables.scss

// Color Palette
$text-light: #ebebe8;
$background-dark: #00001d;
$background-light: #33334a;
$text-bold: #f4afb4;
$clickable-color: #3cd59f;

// Typography
$font-size-current: 1.15rem;
$font-size-italic: 1.3rem;
$font-size-h1: 2.5rem;
$font-size-h2: 1.5rem;
$font-family-primary: 'Helvetica', Arial, sans-serif;
$font-family-title: 'Redaction 20', Arial, serif;
$font-family-secondary: 'Redaction 35', Georgia, serif;
$font-family-terciary: 'Redaction 50', Georgia, serif;

$page-padding: 1rem 5rem 1rem 5rem;
$page-padding-responsive: 2rem 1.7rem 2rem 1.7rem;
